<!doctype html>
<html lang="en" ng-app="taggedStuff">
<head>
<meta charset="utf-8">
<title>Tagged Stuff</title>
<style>
[ng-cloak] {
  display: none;
}
</style>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body ng-controller="RootCtrl" on-keypress="broadcastKeypress($event)" on-keyup="broadcastKeyup($event)">
  <div class="header">
    <div ng-cloak class="content">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">Tagged Stuff</a>
          <ul class="nav">
            <nav-item location="/">Main</nav-item>
            <nav-item location="/view2">View 2</nav-item>
          </ul>
        </div>
      </div>
      <form ng-submit="search()" ng-controller="SearchCtrl" class="form-inline">
        <div class="input-append">
          <input type="text" ng-model="data.searchString" />
          <button type="submit" class="btn">
            <i class="icon-search"></i> Search
          </button>
        </div>
        <input class="btn" type="button" ng-click="searchAll()" value="All" />
      </form>
    </div>
  </div>

  <div ng-view class="container"></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
