body,div {
  margin: 0;
  padding: 0;
  border: 0;
}

.content {
  margin: 7px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 99px;
  overflow: hidden;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.navbar {
  margin-bottom: 10px;
}

.container {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  overflow: auto;
}

.button-bar {
  padding: 5px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.entries-container {
  position: absolute;
  top: 0;
  left: 230px;
  right: 0;
  bottom: 0;
  min-width: 400px;
  overflow: auto;
}

.title {
  margin: 0;
  padding: 7px;
}

.entries-title {
  margin: 0;
  padding: 7px 5px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.entry-header-false {
  padding: 5px;
  border-left: 1px solid white;
  border-bottom: 1px solid #999;
  cursor: pointer;
  line-height: 16px;
}

.entry-header-false:hover {
  background-color: #eee;
}

.entry-header-true {
  padding: 5px;
  background-color: #e5e5e5;
  border-left: 1px solid blue;
  cursor: pointer;
  line-height: 16px;
}

.entry-header-text {
  font-weight: bold;
}

.entry-header-tags {
  color: #666;
}

.entry-header-timestamp {
  float: right;
}

.entry-container {
  padding: 5px;
  border-left: 1px solid blue;
  border-bottom: 1px solid #ddd;
}

.entry-title {
  font-weight: bold;
  font-size: 20px;
}

.entry-body-container {
  margin-top: 10px;
}

.entry-tag-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 5px 0 0;
}

.entry-tag-list>li {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 1px 4px;
  background-color: #c0f0ff;
  border-radius: 3px;
}

.entry-edit-container {
  padding: 5px;
  border-left: 1px solid blue;
  border-bottom: 1px solid #999;
}