<div class="sidebar">
  <div class="content">
    <p>Tags</p>
    <ul>
      <li>Foo</li>
      <li>Foo2</li>
      <li>Foo3</li>
      <li>Foo4</li>
      <li>Foo5</li>
      <li>Foo7</li>
      <li>Bar</li>
    </ul>
  </div>
</div>

<div class="entries-container">
  <h2 class="entry-title">Entries title</h2>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
  <div class="entry">Foo oij oi jpoij oeiwsjf oweij fiaughrf lksdmn cvqiuzgf oisjd fkjhg9
    heßwpko.</div>
</div>
