<h2>Entries</h2>
<p>Database name: {{databaseInformation?.name}}</p>

<hr>

<div>
  <button (click)="testBTree()">
    Test B-tree
  </button>
  <button (click)="bTreeBenchmark()">
    Benchmark B-tree
  </button>
  <button (click)="bTreeBenchmarkSetup()">
    Benchmark Setup
  </button>
  <button (click)="bTreeBenchmark1()">
    Benchmark 1
  </button>
  <button (click)="bTreeBenchmark2()">
    Benchmark 2
  </button>
  <button (click)="bTreeBenchmark3()">
    Benchmark 3
  </button>
  <button (click)="bTreeBenchmark4()">
    Benchmark 4
  </button>
</div>

<div>
  <input type="text" [(ngModel)]="treeElement">
  <input type="number" [(ngModel)]="treeOrder">
</div>

<div>
  <button (click)="treeInit()">
    init
  </button>
  <button (click)="treeInsert()">
    insert
  </button>
  <button (click)="treeInsertRandom()">
    insert random
  </button>
  <button (click)="treeDelete()">
    delete
  </button>
  <button (click)="treeDelete10()">
    delete 10
  </button>
</div>

<pre>{{treeDump}}</pre>

<hr>

<div *ngFor="let entry of entries">
  <h4>{{entry.title}}</h4>
  <p>id: {{entry.id}}</p>
  <p>version: {{entry.version}}</p>

  <button (click)="editEntry(entry)">
    Edit
  </button>
  <button (click)="deleteEntry(entry)">
    Delete
  </button>
</div>

<hr>

<button (click)="newEntry()">
  New entry
</button>
<div *ngIf="activeEntry">
  <form [formGroup]="editForm" (ngSubmit)="saveEntry()">
    <label>
      Title
      <input type="text" formControlName="title">
    </label>
    <button type="submit" [disabled]="!editForm.valid || editForm.pristine">Save</button>
  </form>
</div>
